body {
    background-color: #f8f9fa;
}
.body_container {
    max-width: 800px;
    margin-top: 50px;
}
.card {
    border-radius: 10px;
}
.btn-success {
    width: 100%;
    padding: 10px;
}
.popular-plan {
    border: 2px solid #28a745;
    background-color: #e9fce4;
}
.card-title {
    font-size: 24px;
    font-weight: bold;
}
.card-text {
    font-size: 16px;
    margin-bottom: 10px;
}
.plan-price {
    font-size: 30px;
    color: #28a745;
    font-weight: bold;
}
.plan-description {
    font-size: 14px;
    color: #6c757d;
}